input[type=text2]{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing: border-box;
    transition: .3s;
    color: grey;
}
.formImport{
    color: grey;
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing: border-box;
    transition: .3s;
}

.formImport2{
    border-color:dodgerblue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputIcone input[type=text2]{
    padding-left: 40px;
}

.inputIcone input[type=number2]{
    padding-left: 40px;
}

.inputIcone input[type=email2]{
    padding-left: 40px;
}

.inputIcone input[id=password2]{
    padding-left: 40px;
}

.inputIcone{
    position:relative;
}

.inputIcone i{
    position:absolute;
    left:0;
    top:8px;
    padding:12px 20px;
    color:cadetblue;
}

.descImport{
    color: #2c9faf;
    font-weight: bold;
}

input[type=text2]:focus{
    border-color:dodgerblue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

input[type=email2]{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing: border-box;
    transition: .3s;
}

input[type=emai2]:focus{
    border-color:dodgerblue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

input[type=number2]{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing: border-box;
    transition: .3s;
}

input[type=number2]:focus{
    border-color:dodgerblue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
select[type=text2]:disabled{
    background-color: #2d2e33;
}

input[id=password2]{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing: border-box;
    transition: .3s;
}

input[id=password2]:focus{
    border-color:dodgerblue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.optionEdit{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing: border-box;
    transition: .3s;
}

.select2{
    padding-left: 40px
}

